# Dependencies
node_modules/

# Next.js
.next/
out/
build/

# Environment variables
.env*
.vercel

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db